services:
  db:
    image: postgres:18
    container_name: ski-jumping-management-database
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: ski_jumping_management_db
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
      - postgres_data:/var/lib/postgresql
    ports:
      - "5432:5432"

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: ski-jumping-management-backend
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/ski_jumping_management_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: admin
    ports:
      - "8080:8080"
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: ski-jumping-management-frontend
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  postgres_data:
